.Rproj.user
.Rhistory
.RData
.Ruserdata
.pkgbuild/
.tmplib/
.Rd2pdf*/
*.Rcheck/
..Rcheck/
check-*/
LargeTreeMonitoring_*.tar.gz
ltm_cache/
tests/testthat/ltm_cache/
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
docs
